

*{ font-family: 'Lobster', cursive;
	font-weight: 500; 
	background-color:#206D8C;
	font-size: 75px;
}

h1,
h2,

li{
	color:#F25F5C;
	font-weight: 300;
	font-family: 'Lobster', cursive;
	font-size: 45px;
}

h1, h2 {
	font-family: 'Lobster', cursive;
	font-weight: 700;
	color:#EFEFEF;
	font-size: 75px;
}